{{/*
	This command withdraws currency from the bank.
	Usage: "-withdraw"
 
	Recommended trigger: withdraw
	Trigger type: Command
 
	Credits:
	Made by Jordi
*/}}
{{/* Configuration variables start */}}
{{ $name := "coins" }} {{/* the name of the currency */}}
{{/* Configuration variables end */}}
{{ $args := parseArgs 1 "usage is: -withdraw amount" (carg "int" "amount of coins") }}
{{ if ge ($args.Get 0) 1 }}
{{ if ge (toInt (dbGet .User.ID "bank").Value) ($args.Get 0) }}
{{ .User.Mention }} has withdrawn {{ $args.Get 0 }} {{ $name }} {{ $up := dbIncr .User.ID "coins" ($args.Get 0) }} 
{{ $newcoins := sub (toInt (dbGet .User.ID "bank").Value) ($args.Get 0) }}
{{ dbSet .User.ID "bank" $newcoins }}
{{ else }} you dont have {{ humanizeThousands ($args.Get 0) }} {{ $name }} {{ end }} {{ else }} number has to be above 1 {{ end }}
